@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SportsStore</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">SPORTS STORE</span>
        </div>
        <div class="m-1 p-3">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form asp-action="Login" method="POST" asp-controller="Account">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <div class="text-danger" asp-validation-for="Name"></div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="text-danger" asp-validation-for="Password"></div>
                    <input asp-for="Password" class="form-control" type="password" />
                </div>  
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </body>
</html>
