@model Cart

<div class="p-1">
    @if(Model.Lines.Count() > 0) {
        <small class="navbar-text">
            <b>Your Cart: </b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValues().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-outline-light navbar-btn" asp-page="/Cart" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i> Your Cart
    </a>
    <a href="/admin" class="btn btn-sm btn-outline-light navbar-btn">Administrator Login</a>
</div>