<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SportsStore</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark border-bottom box-shadow mb-3 navbar-expand-sm navbar-toggleable-sm">
            <div class="container">
                <a class="navbar-brand text-white" asp-action="Index" asp-controller="Home">SPORTS STORE</a>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
        </div>
    </body>
</html>
