@page "/error"
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
        <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.min.css" />
    </head>
    <body class="text-center">
        <h2 class="text-danger">Oops. That's an error.</h2>
        <h3 class="text-danger">An Error occured while processing your request</h3>
    </body>
</html>